.theme-dark {
  --background-primary: var(--bg);
  --background-primary-alt: var(--bg);
  --background-secondary: var(--bg);
  --background-secondary-alt: var(--bg);

  --background-modifier-border: var(--bg);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--green);
  --background-modifier-error: #3d0000;
  --background-modifier-error-hover: #470000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);

  --text-accent: var(--yellow);
  --text-accent-hover: var(--yellow-h);
  --text-normal: var(--fg);
  --text-muted: #999;
  --text-muted-rgb: 153, 153, 153;
  --text-faint: #666;
  --text-error: var(--red);
  --text-error-hover: var(--red-h);
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: #dcddde;

  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: var(--bg);
  --interactive-accent-hover: #4d3ca6;
  --interactive-accent-rgb: 72, 54, 153;
  --interactive-success: var(--green);
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: var(--bg);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;
}

:root {
  /* myple palette */
  --bg: #0a0a0a;
  --fg: #f5f5f5;
  --red: #e95d70;
  --red-h: #e95d70cc;
  --yellow: #f7af9d;
  --yellow-h: #f7af9d33;
  --green: #c1ef86;
  --green-h: #c1ef8633;
  --magenta: #e0b2ee;
  --magenta-h: #e0b2ee33;
  --cyan: #76aed0;
  --cyan-h: #76aed033;
  --blue: #486da7;
  --blue-h: #486da733;

  --alpha: 0.8;

  /*---------------------*/

  --editor: Liga SFMono Nerd Font, -apple-system, Menlo monospace;

  /* UI font */
  --font-ui: Quicksand, -apple-system, Roboto, sans-serif;

  /* text preview */
  --textblocks: Quicksand, -apple-system, Roboto sans-serif;
  --text: 18px;
  --text-editor: 13px
  --text-weight: 400;
  --bold-weight: 800; /* Switch to 700 if you want thicker bold text */

  /* headings */
  --headings: Paytone One, -apple-syste, Roboto sans-serif;
  --headings-style: uppercase;
  --headings-editor: 1.725em;

  --h1: 2.625em;
  --h1-weight: 700;

  --h2: 1.725em;
  --h2-weight: 700;

  --h3: 1.325em;
  --h3-weight: 700;

  --h4: 0.9em;
  --h4-weight: 500;

  --h5: 0.85em;
  --h5-weight: 500;

  --h6: 0.85em;
  --h6-weight: 400;

  --font-small: 13px;
  --font-smaller: 11px;
  --font-smallest: 10px;

  --font-title: 1.1em;

  --normal-weight: 300; /* Switch to 300 if you want thinner default text */
  --line-width: 40rem; /* Maximum characters per line */
  --line-height: 1.5;
  --padding: 2px 10px;
  --margin: 0px 2px;
  --text-align: center;
 
  --border-width: 1px;
  --radius: 32px;
}

/* tags */
a.tag {
    border: var(--border-width) solid var(--yellow);
    color: var(--yellow);
    font-family: var(--font-ui);
    padding: var(--padding);
    margin: var(--margin);
    text-align: var(--text-align);
    text-decoration: none;
    border-radius: var(--radius);
}

a.tag:hover {
  background-color: var(--yellow-h);;
}

.markdown-preview-view .internal-link{
  border: var(--border-width) solid var(--cyan);
  padding:var(--padding);
  margin: var(--margin);
  text-align: var(--text-align);
  color: var(--cyan);
  border-radius: var(--radius);
  text-decoration: none;
}

.markdown-preview-view .internal-link:hover {
  background-color: var(--cyan-h);
}


a.external-link{
  border: var(--border-width) solid var(--green);
  padding: var(--padding);
  margin: var(--margin);
  text-align: var(--text-align);
  color: var(--green);
  border-radius: var(--radius);
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent), url();
}

a.external-link:hover {
  background-color: var(--green-h);
}

.workspace-leaf.mod-active .view-header-title{
  font-family: var(--textblocks);
  letter-spacing: 0.12em;
  color: var(--text-muted);
}

.titlebar-text{
  color: var(--bg)
}

ul ul, ol ul{
  list-style-type: circle;
}

.is-translucent .status-bar{
  margin:0 0 0 0px;
}
.titlebar-text{
  background-color: var(--bg);
}

.markdown-preview-view mark{
  background-color: transparent;
  color: var(--magenta);
}

strong {
  font-weight: var(--bold-weight);
}

/* preview */
.markdown-preview-view h1 {
  font-size: var(--h1);
  font-weight: var(--h1-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
  color: var(--cyan);
}

.markdown-preview-view h2 {
  font-size: var(--h2);
  font-weight: var(--h2-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
}

.markdown-preview-view h3 {
  font-size: var(--h3);
  font-weight: var(--h3-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
}

.markdown-preview-view h4 {
  font-size: var(--h4);
  font-weight: var(--h4-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
}

.markdown-preview-view h5 {
  font-size: var(--h5);
  font-weight: var(--h5-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
}

.markdown-preview-view h6 {
  font-size: var(--h6);
  font-weight: var(--h6-weight);
  font-family: var(--headings);
  text-transform: var(--headings-style);
}

.markdown-preview-view {
  font-size: var(--text);
  font-weight: var(--text-weight);
  font-family: var(--textblocks);
  line-height: var(--line-height);
}

/* editor */
.cm-header-1{
  font-size: var(--headings-editor);
  font-weight: var(--h1-weight);
  text-transform: var(--headings-style);
}

.cm-header-2{
  font-size: var(--headings-editor);
  font-weight: var(--h2-weight);
  text-transform: var(--headings-style);
}

.cm-header-3{
  font-size: var(--headings-editor);
  font-weight: var(--h3-weight);
  text-transform: var(--headings-style);
}

.cm-header-4{
  font-size: var(--headings-editor);
  font-weight: var(--h4-weight);
  text-transform: var(--headings-style);
}

.markdown-source-view {
  font-size: var(--text-editor);
  font-weight: var(--text-weight);
  font-family: var(--editor);
}
